

/*!
 * font-awesome-animation - v0.0.9
 * https://github.com/l-lin/font-awesome-animation
 * License: MIT
 */
@-webkit-keyframes wrench{0%{-webkit-transform:rotate(-12deg);transform:rotate(-12deg)}8%{-webkit-transform:rotate(12deg);transform:rotate(12deg)}10%{-webkit-transform:rotate(24deg);transform:rotate(24deg)}18%,20%{-webkit-transform:rotate(-24deg);transform:rotate(-24deg)}28%,30%{-webkit-transform:rotate(24deg);transform:rotate(24deg)}38%,40%{-webkit-transform:rotate(-24deg);transform:rotate(-24deg)}48%,50%{-webkit-transform:rotate(24deg);transform:rotate(24deg)}58%,60%{-webkit-transform:rotate(-24deg);transform:rotate(-24deg)}68%{-webkit-transform:rotate(24deg);transform:rotate(24deg)}100%,75%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}}@keyframes wrench{0%{-webkit-transform:rotate(-12deg);-ms-transform:rotate(-12deg);transform:rotate(-12deg)}8%{-webkit-transform:rotate(12deg);-ms-transform:rotate(12deg);transform:rotate(12deg)}10%{-webkit-transform:rotate(24deg);-ms-transform:rotate(24deg);transform:rotate(24deg)}18%,20%{-webkit-transform:rotate(-24deg);-ms-transform:rotate(-24deg);transform:rotate(-24deg)}28%,30%{-webkit-transform:rotate(24deg);-ms-transform:rotate(24deg);transform:rotate(24deg)}38%,40%{-webkit-transform:rotate(-24deg);-ms-transform:rotate(-24deg);transform:rotate(-24deg)}48%,50%{-webkit-transform:rotate(24deg);-ms-transform:rotate(24deg);transform:rotate(24deg)}58%,60%{-webkit-transform:rotate(-24deg);-ms-transform:rotate(-24deg);transform:rotate(-24deg)}68%{-webkit-transform:rotate(24deg);-ms-transform:rotate(24deg);transform:rotate(24deg)}100%,75%{-webkit-transform:rotate(0deg);-ms-transform:rotate(0deg);transform:rotate(0deg)}}.faa-parent.animated-hover:hover>.faa-wrench,.faa-wrench.animated,.faa-wrench.animated-hover:hover{-webkit-animation:wrench 2.5s ease infinite;animation:wrench 2.5s ease infinite;transform-origin-x:90%;transform-origin-y:35%;transform-origin-z:initial}.faa-parent.animated-hover:hover>.faa-wrench.faa-fast,.faa-wrench.animated-hover.faa-fast:hover,.faa-wrench.animated.faa-fast{-webkit-animation:wrench 1.2s ease infinite;animation:wrench 1.2s ease infinite}.faa-parent.animated-hover:hover>.faa-wrench.faa-slow,.faa-wrench.animated-hover.faa-slow:hover,.faa-wrench.animated.faa-slow{-webkit-animation:wrench 3.7s ease infinite;animation:wrench 3.7s ease infinite}@-webkit-keyframes ring{0%{-webkit-transform:rotate(-15deg);transform:rotate(-15deg)}2%{-webkit-transform:rotate(15deg);transform:rotate(15deg)}4%{-webkit-transform:rotate(-18deg);transform:rotate(-18deg)}6%{-webkit-transform:rotate(18deg);transform:rotate(18deg)}8%{-webkit-transform:rotate(-22deg);transform:rotate(-22deg)}10%{-webkit-transform:rotate(22deg);transform:rotate(22deg)}12%{-webkit-transform:rotate(-18deg);transform:rotate(-18deg)}14%{-webkit-transform:rotate(18deg);transform:rotate(18deg)}16%{-webkit-transform:rotate(-12deg);transform:rotate(-12deg)}18%{-webkit-transform:rotate(12deg);transform:rotate(12deg)}100%,20%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}}@keyframes ring{0%{-webkit-transform:rotate(-15deg);-ms-transform:rotate(-15deg);transform:rotate(-15deg)}2%{-webkit-transform:rotate(15deg);-ms-transform:rotate(15deg);transform:rotate(15deg)}4%{-webkit-transform:rotate(-18deg);-ms-transform:rotate(-18deg);transform:rotate(-18deg)}6%{-webkit-transform:rotate(18deg);-ms-transform:rotate(18deg);transform:rotate(18deg)}8%{-webkit-transform:rotate(-22deg);-ms-transform:rotate(-22deg);transform:rotate(-22deg)}10%{-webkit-transform:rotate(22deg);-ms-transform:rotate(22deg);transform:rotate(22deg)}12%{-webkit-transform:rotate(-18deg);-ms-transform:rotate(-18deg);transform:rotate(-18deg)}14%{-webkit-transform:rotate(18deg);-ms-transform:rotate(18deg);transform:rotate(18deg)}16%{-webkit-transform:rotate(-12deg);-ms-transform:rotate(-12deg);transform:rotate(-12deg)}18%{-webkit-transform:rotate(12deg);-ms-transform:rotate(12deg);transform:rotate(12deg)}100%,20%{-webkit-transform:rotate(0deg);-ms-transform:rotate(0deg);transform:rotate(0deg)}}.faa-parent.animated-hover:hover>.faa-ring,.faa-ring.animated,.faa-ring.animated-hover:hover{-webkit-animation:ring 2s ease infinite;animation:ring 2s ease infinite;transform-origin-x:50%;transform-origin-y:0;transform-origin-z:initial}.faa-parent.animated-hover:hover>.faa-ring.faa-fast,.faa-ring.animated-hover.faa-fast:hover,.faa-ring.animated.faa-fast{-webkit-animation:ring 1s ease infinite;animation:ring 1s ease infinite}.faa-parent.animated-hover:hover>.faa-ring.faa-slow,.faa-ring.animated-hover.faa-slow:hover,.faa-ring.animated.faa-slow{-webkit-animation:ring 3s ease infinite;animation:ring 3s ease infinite}@-webkit-keyframes vertical{0%{-webkit-transform:translate(0,-3px);transform:translate(0,-3px)}4%{-webkit-transform:translate(0,3px);transform:translate(0,3px)}8%{-webkit-transform:translate(0,-3px);transform:translate(0,-3px)}12%{-webkit-transform:translate(0,3px);transform:translate(0,3px)}16%{-webkit-transform:translate(0,-3px);transform:translate(0,-3px)}20%{-webkit-transform:translate(0,3px);transform:translate(0,3px)}100%,22%{-webkit-transform:translate(0,0);transform:translate(0,0)}}@keyframes vertical{0%{-webkit-transform:translate(0,-3px);-ms-transform:translate(0,-3px);transform:translate(0,-3px)}4%{-webkit-transform:translate(0,3px);-ms-transform:translate(0,3px);transform:translate(0,3px)}8%{-webkit-transform:translate(0,-3px);-ms-transform:translate(0,-3px);transform:translate(0,-3px)}12%{-webkit-transform:translate(0,3px);-ms-transform:translate(0,3px);transform:translate(0,3px)}16%{-webkit-transform:translate(0,-3px);-ms-transform:translate(0,-3px);transform:translate(0,-3px)}20%{-webkit-transform:translate(0,3px);-ms-transform:translate(0,3px);transform:translate(0,3px)}100%,22%{-webkit-transform:translate(0,0);-ms-transform:translate(0,0);transform:translate(0,0)}}.faa-parent.animated-hover:hover>.faa-vertical,.faa-vertical.animated,.faa-vertical.animated-hover:hover{-webkit-animation:vertical 2s ease infinite;animation:vertical 2s ease infinite}.faa-parent.animated-hover:hover>.faa-vertical.faa-fast,.faa-vertical.animated-hover.faa-fast:hover,.faa-vertical.animated.faa-fast{-webkit-animation:vertical 1s ease infinite;animation:vertical 1s ease infinite}.faa-parent.animated-hover:hover>.faa-vertical.faa-slow,.faa-vertical.animated-hover.faa-slow:hover,.faa-vertical.animated.faa-slow{-webkit-animation:vertical 4s ease infinite;animation:vertical 4s ease infinite}@-webkit-keyframes horizontal{0%{-webkit-transform:translate(0,0);transform:translate(0,0)}6%{-webkit-transform:translate(5px,0);transform:translate(5px,0)}12%{-webkit-transform:translate(0,0);transform:translate(0,0)}18%{-webkit-transform:translate(5px,0);transform:translate(5px,0)}24%{-webkit-transform:translate(0,0);transform:translate(0,0)}30%{-webkit-transform:translate(5px,0);transform:translate(5px,0)}100%,36%{-webkit-transform:translate(0,0);transform:translate(0,0)}}@keyframes horizontal{0%{-webkit-transform:translate(0,0);-ms-transform:translate(0,0);transform:translate(0,0)}6%{-webkit-transform:translate(5px,0);-ms-transform:translate(5px,0);transform:translate(5px,0)}12%{-webkit-transform:translate(0,0);-ms-transform:translate(0,0);transform:translate(0,0)}18%{-webkit-transform:translate(5px,0);-ms-transform:translate(5px,0);transform:translate(5px,0)}24%{-webkit-transform:translate(0,0);-ms-transform:translate(0,0);transform:translate(0,0)}30%{-webkit-transform:translate(5px,0);-ms-transform:translate(5px,0);transform:translate(5px,0)}100%,36%{-webkit-transform:translate(0,0);-ms-transform:translate(0,0);transform:translate(0,0)}}.faa-horizontal.animated,.faa-horizontal.animated-hover:hover,.faa-parent.animated-hover:hover>.faa-horizontal{-webkit-animation:horizontal 2s ease infinite;animation:horizontal 2s ease infinite}.faa-horizontal.animated-hover.faa-fast:hover,.faa-horizontal.animated.faa-fast,.faa-parent.animated-hover:hover>.faa-horizontal.faa-fast{-webkit-animation:horizontal 1s ease infinite;animation:horizontal 1s ease infinite}.faa-horizontal.animated-hover.faa-slow:hover,.faa-horizontal.animated.faa-slow,.faa-parent.animated-hover:hover>.faa-horizontal.faa-slow{-webkit-animation:horizontal 3s ease infinite;animation:horizontal 3s ease infinite}@-webkit-keyframes flash{0%,100%,50%{opacity:1}25%,75%{opacity:0}}@keyframes flash{0%,100%,50%{opacity:1}25%,75%{opacity:0}}.faa-flash.animated,.faa-flash.animated-hover:hover,.faa-parent.animated-hover:hover>.faa-flash{-webkit-animation:flash 2s ease infinite;animation:flash 2s ease infinite}.faa-flash.animated-hover.faa-fast:hover,.faa-flash.animated.faa-fast,.faa-parent.animated-hover:hover>.faa-flash.faa-fast{-webkit-animation:flash 1s ease infinite;animation:flash 1s ease infinite}.faa-flash.animated-hover.faa-slow:hover,.faa-flash.animated.faa-slow,.faa-parent.animated-hover:hover>.faa-flash.faa-slow{-webkit-animation:flash 3s ease infinite;animation:flash 3s ease infinite}@-webkit-keyframes bounce{0%,10%,100%,20%,50%,80%{-webkit-transform:translateY(0);transform:translateY(0)}40%,60%{-webkit-transform:translateY(-15px);transform:translateY(-15px)}}@keyframes bounce{0%,10%,100%,20%,50%,80%{-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0)}40%,60%{-webkit-transform:translateY(-15px);-ms-transform:translateY(-15px);transform:translateY(-15px)}}.faa-bounce.animated,.faa-bounce.animated-hover:hover,.faa-parent.animated-hover:hover>.faa-bounce{-webkit-animation:bounce 2s ease infinite;animation:bounce 2s ease infinite}.faa-bounce.animated-hover.faa-fast:hover,.faa-bounce.animated.faa-fast,.faa-parent.animated-hover:hover>.faa-bounce.faa-fast{-webkit-animation:bounce 1s ease infinite;animation:bounce 1s ease infinite}.faa-bounce.animated-hover.faa-slow:hover,.faa-bounce.animated.faa-slow,.faa-parent.animated-hover:hover>.faa-bounce.faa-slow{-webkit-animation:bounce 3s ease infinite;animation:bounce 3s ease infinite}@-webkit-keyframes spin{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(359deg);transform:rotate(359deg)}}@keyframes spin{0%{-webkit-transform:rotate(0deg);-ms-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(359deg);-ms-transform:rotate(359deg);transform:rotate(359deg)}}.faa-parent.animated-hover:hover>.faa-spin,.faa-spin.animated,.faa-spin.animated-hover:hover{-webkit-animation:spin 1.5s linear infinite;animation:spin 1.5s linear infinite}.faa-parent.animated-hover:hover>.faa-spin.faa-fast,.faa-spin.animated-hover.faa-fast:hover,.faa-spin.animated.faa-fast{-webkit-animation:spin .7s linear infinite;animation:spin .7s linear infinite}.faa-parent.animated-hover:hover>.faa-spin.faa-slow,.faa-spin.animated-hover.faa-slow:hover,.faa-spin.animated.faa-slow{-webkit-animation:spin 2.2s linear infinite;animation:spin 2.2s linear infinite}@-webkit-keyframes float{0%{-webkit-transform:translateY(0);transform:translateY(0)}50%{-webkit-transform:translateY(-6px);transform:translateY(-6px)}100%{-webkit-transform:translateY(0);transform:translateY(0)}}@keyframes float{0%{-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0)}50%{-webkit-transform:translateY(-6px);-ms-transform:translateY(-6px);transform:translateY(-6px)}100%{-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0)}}.faa-float.animated,.faa-float.animated-hover:hover,.faa-parent.animated-hover:hover>.faa-float{-webkit-animation:float 2s linear infinite;animation:float 2s linear infinite}.faa-float.animated-hover.faa-fast:hover,.faa-float.animated.faa-fast,.faa-parent.animated-hover:hover>.faa-float.faa-fast{-webkit-animation:float 1s linear infinite;animation:float 1s linear infinite}.faa-float.animated-hover.faa-slow:hover,.faa-float.animated.faa-slow,.faa-parent.animated-hover:hover>.faa-float.faa-slow{-webkit-animation:float 3s linear infinite;animation:float 3s linear infinite}@-webkit-keyframes pulse{0%{-webkit-transform:scale(1.1);transform:scale(1.1)}50%{-webkit-transform:scale(0.8);transform:scale(0.8)}100%{-webkit-transform:scale(1.1);transform:scale(1.1)}}@keyframes pulse{0%{-webkit-transform:scale(1.1);-ms-transform:scale(1.1);transform:scale(1.1)}50%{-webkit-transform:scale(0.8);-ms-transform:scale(0.8);transform:scale(0.8)}100%{-webkit-transform:scale(1.1);-ms-transform:scale(1.1);transform:scale(1.1)}}.faa-parent.animated-hover:hover>.faa-pulse,.faa-pulse.animated,.faa-pulse.animated-hover:hover{-webkit-animation:pulse 2s linear infinite;animation:pulse 2s linear infinite}.faa-parent.animated-hover:hover>.faa-pulse.faa-fast,.faa-pulse.animated-hover.faa-fast:hover,.faa-pulse.animated.faa-fast{-webkit-animation:pulse 1s linear infinite;animation:pulse 1s linear infinite}.faa-parent.animated-hover:hover>.faa-pulse.faa-slow,.faa-pulse.animated-hover.faa-slow:hover,.faa-pulse.animated.faa-slow{-webkit-animation:pulse 3s linear infinite;animation:pulse 3s linear infinite}.faa-parent.animated-hover:hover>.faa-shake,.faa-shake.animated,.faa-shake.animated-hover:hover{-webkit-animation:wrench 2.5s ease infinite;animation:wrench 2.5s ease infinite}.faa-parent.animated-hover:hover>.faa-shake.faa-fast,.faa-shake.animated-hover.faa-fast:hover,.faa-shake.animated.faa-fast{-webkit-animation:wrench 1.2s ease infinite;animation:wrench 1.2s ease infinite}.faa-parent.animated-hover:hover>.faa-shake.faa-slow,.faa-shake.animated-hover.faa-slow:hover,.faa-shake.animated.faa-slow{-webkit-animation:wrench 3.7s ease infinite;animation:wrench 3.7s ease infinite}@-webkit-keyframes tada{0%{-webkit-transform:scale(1);transform:scale(1)}10%,20%{-webkit-transform:scale(.9) rotate(-8deg);transform:scale(.9) rotate(-8deg)}30%,50%,70%{-webkit-transform:scale(1.3) rotate(8deg);transform:scale(1.3) rotate(8deg)}40%,60%{-webkit-transform:scale(1.3) rotate(-8deg);transform:scale(1.3) rotate(-8deg)}100%,80%{-webkit-transform:scale(1) rotate(0);transform:scale(1) rotate(0)}}@keyframes tada{0%{-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}10%,20%{-webkit-transform:scale(.9) rotate(-8deg);-ms-transform:scale(.9) rotate(-8deg);transform:scale(.9) rotate(-8deg)}30%,50%,70%{-webkit-transform:scale(1.3) rotate(8deg);-ms-transform:scale(1.3) rotate(8deg);transform:scale(1.3) rotate(8deg)}40%,60%{-webkit-transform:scale(1.3) rotate(-8deg);-ms-transform:scale(1.3) rotate(-8deg);transform:scale(1.3) rotate(-8deg)}100%,80%{-webkit-transform:scale(1) rotate(0);-ms-transform:scale(1) rotate(0);transform:scale(1) rotate(0)}}.faa-parent.animated-hover:hover>.faa-tada,.faa-tada.animated,.faa-tada.animated-hover:hover{-webkit-animation:tada 2s linear infinite;animation:tada 2s linear infinite}.faa-parent.animated-hover:hover>.faa-tada.faa-fast,.faa-tada.animated-hover.faa-fast:hover,.faa-tada.animated.faa-fast{-webkit-animation:tada 1s linear infinite;animation:tada 1s linear infinite}.faa-parent.animated-hover:hover>.faa-tada.faa-slow,.faa-tada.animated-hover.faa-slow:hover,.faa-tada.animated.faa-slow{-webkit-animation:tada 3s linear infinite;animation:tada 3s linear infinite}@-webkit-keyframes passing{0%{-webkit-transform:translateX(-50%);transform:translateX(-50%);opacity:0}50%{-webkit-transform:translateX(0%);transform:translateX(0%);opacity:1}100%{-webkit-transform:translateX(50%);transform:translateX(50%);opacity:0}}@keyframes passing{0%{-webkit-transform:translateX(-50%);-ms-transform:translateX(-50%);transform:translateX(-50%);opacity:0}50%{-webkit-transform:translateX(0%);-ms-transform:translateX(0%);transform:translateX(0%);opacity:1}100%{-webkit-transform:translateX(50%);-ms-transform:translateX(50%);transform:translateX(50%);opacity:0}}.faa-parent.animated-hover:hover>.faa-passing,.faa-passing.animated,.faa-passing.animated-hover:hover{-webkit-animation:passing 2s linear infinite;animation:passing 2s linear infinite}.faa-parent.animated-hover:hover>.faa-passing.faa-fast,.faa-passing.animated-hover.faa-fast:hover,.faa-passing.animated.faa-fast{-webkit-animation:passing 1s linear infinite;animation:passing 1s linear infinite}.faa-parent.animated-hover:hover>.faa-passing.faa-slow,.faa-passing.animated-hover.faa-slow:hover,.faa-passing.animated.faa-slow{-webkit-animation:passing 3s linear infinite;animation:passing 3s linear infinite}@-webkit-keyframes passing-reverse{0%{-webkit-transform:translateX(50%);transform:translateX(50%);opacity:0}50%{-webkit-transform:translateX(0%);transform:translateX(0%);opacity:1}100%{-webkit-transform:translateX(-50%);transform:translateX(-50%);opacity:0}}@keyframes passing-reverse{0%{-webkit-transform:translateX(50%);-ms-transform:translateX(50%);transform:translateX(50%);opacity:0}50%{-webkit-transform:translateX(0%);-ms-transform:translateX(0%);transform:translateX(0%);opacity:1}100%{-webkit-transform:translateX(-50%);-ms-transform:translateX(-50%);transform:translateX(-50%);opacity:0}}.faa-parent.animated-hover:hover>.faa-passing-reverse,.faa-passing-reverse.animated,.faa-passing-reverse.animated-hover:hover{-webkit-animation:passing-reverse 2s linear infinite;animation:passing-reverse 2s linear infinite}.faa-parent.animated-hover:hover>.faa-passing-reverse.faa-fast,.faa-passing-reverse.animated-hover.faa-fast:hover,.faa-passing-reverse.animated.faa-fast{-webkit-animation:passing-reverse 1s linear infinite;animation:passing-reverse 1s linear infinite}.faa-parent.animated-hover:hover>.faa-passing-reverse.faa-slow,.faa-passing-reverse.animated-hover.faa-slow:hover,.faa-passing-reverse.animated.faa-slow{-webkit-animation:passing-reverse 3s linear infinite;animation:passing-reverse 3s linear infinite}@-webkit-keyframes burst{0%{opacity:.6}50%{-webkit-transform:scale(1.8);transform:scale(1.8);opacity:0}100%{opacity:0}}@keyframes burst{0%{opacity:.6}50%{-webkit-transform:scale(1.8);-ms-transform:scale(1.8);transform:scale(1.8);opacity:0}100%{opacity:0}}.faa-burst.animated,.faa-burst.animated-hover:hover,.faa-parent.animated-hover:hover>.faa-burst{-webkit-animation:burst 2s infinite linear;animation:burst 2s infinite linear}.faa-burst.animated-hover.faa-fast:hover,.faa-burst.animated.faa-fast,.faa-parent.animated-hover:hover>.faa-burst.faa-fast{-webkit-animation:burst 1s infinite linear;animation:burst 1s infinite linear}.faa-burst.animated-hover.faa-slow:hover,.faa-burst.animated.faa-slow,.faa-parent.animated-hover:hover>.faa-burst.faa-slow{-webkit-animation:burst 3s infinite linear;animation:burst 3s infinite linear}
/*!
 * page style sheet
 * License: MIT
 */
body{font-family:'Open Sans',sans-serif}.navbar-default{background-color:#fff;border-bottom-color:#E3E3E3}.navbar-default .navbar-nav>.active>a,.navbar-default .navbar-nav>.active>a:focus,.navbar-default .navbar-nav>.active>a:hover{background-color:transparent!important}.navbar-default .btn-compose{padding-right:10px;border-right:1px solid #F0F0F0}.form-control{border-radius:0;box-shadow:none;height:auto}.float-label{font-size:10px}.content-container{background-color:#fff;padding:35px 20px;margin-bottom:20px}h1.content-title{font-size:32px;font-weight:300;text-align:center;margin-top:0;margin-bottom:20px;font-family:'Open Sans',sans-serif!important}.btn-send{text-align:center;margin-top:20px}ul.mail-list{padding:0;margin:30px 0 0;list-style:none}ul.mail-list li a{display:block;border-bottom:1px dotted #CFCFCF;padding:20px;text-decoration:none}ul.mail-list li:last-child a{border-bottom:none}ul.mail-list li a:hover{background-color:#DBF9FF}ul.mail-list li span{display:block}ul.mail-list li span.mail-sender{font-weight:600;color:#8F8F8F}ul.mail-list li span.mail-subject{color:#8C8C8C}ul.mail-list li span.mail-message-preview{display:block;color:#A8A8A8}.mail-search{border-bottom-color:#7FBCC9!important}.modal-content{position:relative;border-radius:0;outline:0;background-clip:padding-box}.modal-header{min-height:16.43px;padding:10px 15px}.close{float:right;font-size:21px;font-weight:700;line-height:1;color:#000;text-shadow:0 1px 0 #fff;opacity:.2;filter:alpha(opacity=20)}.modal-body{position:relative;padding:20px}.modal-footer{padding:19px 20px 20px;margin-top:0;text-align:right;border-top:1px solid #e5e5e5} .nav > li > button{margin: 10px}.navbar.navbar-default.navbar-static-top.fixed-theme {width: 100%; position: fixed!important; } a:hover{text-decoration: none!important}

/* @import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700); */
/* chart */
.ash {
    color: #9f9f9f;
}
dl {
    display: flex;
    background-color: white;
    flex-direction: column;
    width: 100%;
    max-width: 700px;
    position: relative;
    padding: 20px;
}
dt {
    align-self: flex-start;
    width: 100%;
    font-weight: 700;
    display: block;
    text-align: center;
    font-size: 1.2em;
    font-weight: 700;
    margin-bottom: 20px;
    margin-left: 130px;
}
.text {
    font-weight: 600;
    display: flex;
    align-items: center;
    height: 40px;
    width: 130px;
    background-color: white;
    position: absolute;
    left: 0;
    justify-content: flex-end;
}
.percentage {
    font-size: .8em;
    line-height: 1;
    text-transform: uppercase;
    width: 100%;
    height: 40px;
    margin-left: 130px;
    background: repeating-linear-gradient(to right, #ddd, #ddd 1px, #fff 1px, #fff 5%);
}
.percentage:after {
    content: "";
    display: block;
    background-color: #3d9970;
    width: 50px;
    margin-bottom: 10px;
    height: 90%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    transition: background-color .3s ease;
    cursor: pointer;
}
.percentage:hover:after, .percentage:focus:after {
    background-color: #aaa;
}
.percentage-1:after {
    width: 1%;
}
.percentage-2:after {
    width: 2%;
}
.percentage-3:after {
    width: 3%;
}
.percentage-4:after {
    width: 4%;
}
.percentage-5:after {
    width: 5%;
}
.percentage-6:after {
    width: 6%;
}
.percentage-7:after {
    width: 7%;
}
.percentage-8:after {
    width: 8%;
}
.percentage-9:after {
    width: 9%;
}
.percentage-10:after {
    width: 10%;
}
.percentage-11:after {
    width: 11%;
}
.percentage-12:after {
    width: 12%;
}
.percentage-13:after {
    width: 13%;
}
.percentage-14:after {
    width: 14%;
}
.percentage-15:after {
    width: 15%;
}
.percentage-16:after {
    width: 16%;
}
.percentage-17:after {
    width: 17%;
}
.percentage-18:after {
    width: 18%;
}
.percentage-19:after {
    width: 19%;
}
.percentage-20:after {
    width: 20%;
}
.percentage-21:after {
    width: 21%;
}
.percentage-22:after {
    width: 22%;
}
.percentage-23:after {
    width: 23%;
}
.percentage-24:after {
    width: 24%;
}
.percentage-25:after {
    width: 25%;
}
.percentage-26:after {
    width: 26%;
}
.percentage-27:after {
    width: 27%;
}
.percentage-28:after {
    width: 28%;
}
.percentage-29:after {
    width: 29%;
}
.percentage-30:after {
    width: 30%;
}
.percentage-31:after {
    width: 31%;
}
.percentage-32:after {
    width: 32%;
}
.percentage-33:after {
    width: 33%;
}
.percentage-34:after {
    width: 34%;
}
.percentage-35:after {
    width: 35%;
}
.percentage-36:after {
    width: 36%;
}
.percentage-37:after {
    width: 37%;
}
.percentage-38:after {
    width: 38%;
}
.percentage-39:after {
    width: 39%;
}
.percentage-40:after {
    width: 40%;
}
.percentage-41:after {
    width: 41%;
}
.percentage-42:after {
    width: 42%;
}
.percentage-43:after {
    width: 43%;
}
.percentage-44:after {
    width: 44%;
}
.percentage-45:after {
    width: 45%;
}
.percentage-46:after {
    width: 46%;
}
.percentage-47:after {
    width: 47%;
}
.percentage-48:after {
    width: 48%;
}
.percentage-49:after {
    width: 49%;
}
.percentage-50:after {
    width: 50%;
}
.percentage-51:after {
    width: 51%;
}
.percentage-52:after {
    width: 52%;
}
.percentage-53:after {
    width: 53%;
}
.percentage-54:after {
    width: 54%;
}
.percentage-55:after {
    width: 55%;
}
.percentage-56:after {
    width: 56%;
}
.percentage-57:after {
    width: 57%;
}
.percentage-58:after {
    width: 58%;
}
.percentage-59:after {
    width: 59%;
}
.percentage-60:after {
    width: 60%;
}
.percentage-61:after {
    width: 61%;
}
.percentage-62:after {
    width: 62%;
}
.percentage-63:after {
    width: 63%;
}
.percentage-64:after {
    width: 64%;
}
.percentage-65:after {
    width: 65%;
}
.percentage-66:after {
    width: 66%;
}
.percentage-67:after {
    width: 67%;
}
.percentage-68:after {
    width: 68%;
}
.percentage-69:after {
    width: 69%;
}
.percentage-70:after {
    width: 70%;
}
.percentage-71:after {
    width: 71%;
}
.percentage-72:after {
    width: 72%;
}
.percentage-73:after {
    width: 73%;
}
.percentage-74:after {
    width: 74%;
}
.percentage-75:after {
    width: 75%;
}
.percentage-76:after {
    width: 76%;
}
.percentage-77:after {
    width: 77%;
}
.percentage-78:after {
    width: 78%;
}
.percentage-79:after {
    width: 79%;
}
.percentage-80:after {
    width: 80%;
}
.percentage-81:after {
    width: 81%;
}
.percentage-82:after {
    width: 82%;
}
.percentage-83:after {
    width: 83%;
}
.percentage-84:after {
    width: 84%;
}
.percentage-85:after {
    width: 85%;
}
.percentage-86:after {
    width: 86%;
}
.percentage-87:after {
    width: 87%;
}
.percentage-88:after {
    width: 88%;
}
.percentage-89:after {
    width: 89%;
}
.percentage-90:after {
    width: 90%;
}
.percentage-91:after {
    width: 91%;
}
.percentage-92:after {
    width: 92%;
}
.percentage-93:after {
    width: 93%;
}
.percentage-94:after {
    width: 94%;
}
.percentage-95:after {
    width: 95%;
}
.percentage-96:after {
    width: 96%;
}
.percentage-97:after {
    width: 97%;
}
.percentage-98:after {
    width: 98%;
}
.percentage-99:after {
    width: 99%;
}
.percentage-100:after {
    width: 100%;
}
/* dashboard */
/*Dashboard example template from Bootply */
.big-chart {
    width: 100%;
    height: 228px;
}
.realtime {
    position: absolute;
    right: 35px;
    bottom: 35px;
}
.line-chart {
    width: 100%;
    height: 100px;
}
.donut {
    width: 100%;
    height: 120px;
}
.donut-label {
    position: absolute;
    left: 0;
    top: 25%;
    font-size: 20pt;
    color: #ddd;
    width: 100%;
    height: 120px;
    text-align: center;
}
.bar-chart, .pie-chart {
    width: 100%;
    height: 40px;
}
.progress {
    height: auto;
}
.progress-sm {
    height: 8px;
}
.chartooltip {
    position: absolute;
    background-color: #333;
    color: #fff;
    border-radius: 3px;
    padding: 2px;
    opacity: 0.9;
}
.sparklines {
    margin-top: 20px;
    padding-bottom: 5px;
    box-shadow: 0 0 0;
    -webkit-box-shadow: 0 0 0;
}
.border-right {
    border-right: 1px solid #eee;
}
.dashboard-block, .dashboard-block:hover, .dashboard-block:active, .dashboard-block:focus {
    color: #606060;
    text-decoration: none;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
    outline: none;
}
.dashboard-block {
    position: relative;
    display: block;
    padding: 30px 20px;
    background-color: #eee;
    opacity: 0.9;
    overflow: hidden;
    margin-bottom: 5px;
}
.dashboard-block .rotate {
    z-index: 8;
    float: right;
    height: 100%;
}
.dashboard-block .rotate i {
    position: absolute;
    left: 0;
    left: auto;
    right: 0;
    bottom: 0;
    display: block;
    height: 65px;
    font-size: 75px;
    -webkit-transform: rotate(-40deg);
    -moz-transform: rotate(-40deg);
    -o-transform: rotate(-40deg);
    -ms-transform: rotate(-40deg);
    transform: rotate(-40deg);
    text-shadow: 1px 0 #ddd;
}
.dashboard-block i, .dashboard-block:hover i, .dashboard-block:active i, .dashboard-block:focus i {
    color: #e2e2e2;
}
.dashboard-block .more {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.25) !important;
    text-shadow: none;
}
.dashboard-block .details {
    position: relative;
    z-index: 10;
    float: left;
    margin-top: -10px;
    text-align: left;
}
.dashboard-block .title {
    display: block;
    margin-bottom: 1em;
    font-size: 13px;
    text-transform: uppercase;
}
.dashboard-block .sub {
    display: block;
    font-size: 32px;
}
/* gallery */
/* modal vertically centre/max-height */
/* text colour */
.txt-small {
    font-size: 12px;
}
.txt-grey {
    color: #a0a0a0;
}
.txt-info {
    color: #3a87ad;
}
.txt-primary {
    color: #2283c5;
}
.txt-success {
    color: #82af6f;
}
.txt-important {
    color: #d15b47;
}
.txt-inverse {
    color: #333;
}
.txt-warning {
    color: #f89406;
}
.txt-pink {
    color: #d6487e;
}
.txt-purple {
    color: #9585bf;
}
.txt-yellow {
    color: #fee188;
}
.txt-light {
    color: #e7e7e7;
}
.nav-info-bar {
    margin-left: 55px;
    float: right;
}
/* chart canvas */
.canvasjs-chart-container {
    height: auto;
    display: block;
    width: 200px;
    height: 200px;
}
.canvasjs-chart-credit {
    display: none;
}
/* make bootstrap modal full screen  */
.chart-container .modal-dialog {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    max-width: 100%;
}
.modal-dialog.modal-fullscreen {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    max-width: 100%;
}
/* Bootstrap 4 Modal Vertically Centre/Max-Height */
.loader.modal {
    text-align: center;
    padding: 0!important;
}
.loader.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}
.loader .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    text-align: center;
}
.loader .modal-header h4 em {
    font-size: 14px;
}
/* image gallery */
.img-preview-content .mt40 {
    margin-top: 40px;
}
.img-preview-content .panel {
    position: relative;
    overflow: hidden;
    display: block;
    border-radius: 0 !important;
}
.img-preview-content .panel-default {
    border-color: #ebedef !important;
}
.img-preview-content .panel .panel-body {
    position: relative;
    padding: 0 !important;
    overflow: hidden;
    height: auto;
}
.img-preview-content .panel .panel-body a {
    overflow: hidden;
}
.img-preview-content .panel .panel-body a img {
    display: block;
    margin: 0;
    width: 100%;
    height: auto;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
}
.img-preview-content .panel .panel-body a.zoom:hover img {
    transform: scale(1.3);
    -ms-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -o-transform: scale(1.3);
    -moz-transform: scale(1.3);
}
.img-preview-content .panel .panel-body a.zoom span.overlay {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 0;
    transition: opacity .25s ease-out;
    -moz-transition: opacity .25s ease-out;
    -webkit-transition: opacity .25s ease-out;
    -o-transition: opacity .25s ease-out;
}
.img-preview-content .panel .panel-body a.zoom:hover span.overlay {
    display: block;
    visibility: visible;
    opacity: 0.55;
    -moz-opacity: 0.55;
    -webkit-opacity: 0.55;
    filter: alpha(opacity=65);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
}
.img-preview-content .panel .panel-body a.zoom:hover span.overlay i {
    position: absolute;
    top: 45%;
    left: 0%;
    width: 100%;
    font-size: 2.25em;
    color: #fff !important;
    text-align: center;
    opacity: 1;
    -moz-opacity: 1;
    -webkit-opacity: 1;
    filter: alpha(opacity=1);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
}
.img-preview-content .panel .panel-footer {
    padding: 8px !important;
    background-color: #f9f9f9 !important;
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}
.img-preview-content .panel .panel-footer h4 {
    display: inline;
    font: 400 normal 1.125em "Roboto", Arial, Verdana, sans-serif;
    color: #34495e;
    margin: 0 !important;
    padding: 0 !important;
}
.img-preview-content .panel .panel-footer i.glyphicon {
    display: inline;
    font-size: 1.125em;
    cursor: pointer;
}
.img-preview-content .panel .panel-footer i.glyphicon-thumbs-up {
    color: #1abc9c;
}
.img-preview-content .panel .panel-footer i.glyphicon-thumbs-down {
    color: #e74c3c;
    padding-left: 5px;
}
.img-preview-content .panel .panel-footer div {
    width: 15px;
    display: inline;
    font: 300 normal 1.125em "Roboto", Arial, Verdana, sans-serif;
    color: #34495e;
    text-align: center;
    background-color: transparent !important;
    border: none !important;
}
.img-preview-content .modal-title {
    font: 400 normal 1.625em "Roboto", Arial, Verdana, sans-serif;
}
.img-preview-content .modal-footer {
    font: 400 normal 1.125em "Roboto", Arial, Verdana, sans-serif;
}
/*!
* Lightbox for Bootstrap 3 by @ashleydw
* https://github.com/ashleydw/lightbox
*
* License: https://github.com/ashleydw/lightbox/blob/master/LICENSE
*/
.ekko-lightbox-container {
    position: relative
}
.ekko-lightbox-nav-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%
}
.ekko-lightbox-nav-overlay a {
    z-index: 100;
    display: block;
    width: 49%;
    height: 100%;
    padding-top: 45%;
    font-size: 30px;
    color: #fff;
    text-shadow: 2px 2px 4px #000;
    opacity: 0;
    filter: dropshadow(color=#000000, offx=2, offy=2);
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s
}
.ekko-lightbox-nav-overlay a:empty {
    width: 49%
}
.ekko-lightbox a:hover {
    text-decoration: none;
    opacity: 1
}
.ekko-lightbox .glyphicon-chevron-left {
    left: 0;
    float: left;
    padding-left: 15px;
    text-align: left
}
.ekko-lightbox .glyphicon-chevron-right {
    right: 0;
    float: right;
    padding-right: 15px;
    text-align: right
}
.ekko-lightbox .modal-footer {
    text-align: left
}
.margin-bottom-30 {
    margin-bottom: 30px;
}
/* Portlet */
.portlet {
    background: #fff;
    padding: 20px;
}
.portlet.portlet-gray {
    background: #f7f7f7;
}
.portlet.portlet-bordered {
    border: 1px solid #eee;
}
/* Portlet Title */
.portlet-title {
    padding: 0;
    min-height: 40px;
    border-bottom: 1px solid #eee;
    margin-bottom: 18px;
}
.caption {
    float: left;
    display: inline-block;
    font-size: 18px;
    line-height: 18px;
}
.caption.caption-green .caption-subject, .caption.caption-green i {
    color: #4db3a2;
    font-weight: 200;
}
.caption.caption-red .caption-subject, .caption.caption-red i {
    color: #e26a6a;
    font-weight: 200;
}
.caption.caption-purple .caption-subject, .caption.caption-purple i {
    color: #8775a7;
    font-weight: 400;
}
.caption.caption-instagram .caption-subject, .caption.caption-instagram i {
    color: #E74B51;
    font-weight: 200;
}
.caption.caption-facebook .caption-subject, .caption.caption-facebook i {
    color: #337AB7;
    font-weight: 200;
}
.caption.caption-twitter .caption-subject, .caption.caption-twitter i {
    color: #5BC0DE;
    font-weight: 200;
}
.caption i {
    color: #777;
    font-size: 15px;
    font-weight: 300;
    margin-top: 3px;
}
.caption-subject {
    color: #666;
    font-size: 16px;
    font-weight: 600;
}
.caption-helper {
    padding: 0;
    margin: 0;
    line-height: 13px;
    color: #9eacb4;
    font-size: 13px;
    font-weight: 400;
}
/* Actions */
.actions {
    float: right;
    display: inline-block;
}
.actions a {
    margin-left: 3px;
}
.actions .btn {
    color: #666;
    padding: 3px 9px;
    font-size: 13px;
    line-height: 1.5;
    background-color: #fff;
    border-color: #ccc;
    border-radius: 50px;
}
.actions .btn i {
    font-size: 12px;
}
.actions .btn:hover {
    background: #f2f2f2;
}
/* Pagination */
.pagination {
    margin: -3px 0 0;
    border-radius: 50px;
}
.pagination>li>a, .pagination>li>span {
    padding: 4px 10px;
    font-size: 12px;
    color: #8775a7;
    background: #f7f7f7;
}
.pagination>li:hover>a, .pagination>li.active>a, .pagination>li.active:hover>a {
    color: #fff;
    background: #8775a7;
    border-color: #8775a7;
}
/* Inputs */
.inputs {
    float: right;
    display: inline-block;
    padding: 4px 0;
    margin-top: -10px;
}
.input-inline {
    width: 240px;
    display: inline-block;
    vertical-align: middle;
}
/* Tab */
.portlet-title>.nav-tabs {
    background: none;
    margin: 0;
    float: right;
    display: inline-block;
    border: 0;
}
.portlet-title>.nav-tabs>li {
    background: none;
    margin: 0;
    border: 0;
}
.portlet-title>.nav-tabs>li>a {
    background: none;
    border: 0;
    padding: 2px 10px 13px;
    color: #444;
}
.portlet-title>.nav-tabs>li.active, .portlet-title>.nav-tabs>li.active:hover {
    border-bottom: 4px solid #f3565d;
    position: relative;
}
.portlet-title>.nav-tabs>li:hover {
    border-bottom: 4px solid #f29b9f;
}
.portlet-title>.nav-tabs>li.active>a, .portlet-title>.nav-tabs>li:hover>a {
    color: #333;
    background: #fff;
    border: 0;
}
/* Btn Circle */
.actions .btn.btn-circle {
    width: 28px;
    height: 28px;
    padding: 3px 7px;
    text-align: center;
}
.actions .btn.btn-circle i {
    font-size: 11px;
}
/* Btn Grey Salsa */
.actions .btn.grey-salsa {
    border: none;
    margin-left: 3px;
    box-shadow: none;
    border-radius: 50px !important;
}
.actions .btn.grey-salsa.active {
    color: #fafcfb;
    background: #8e9bae;
}
.actions .grey-salsa.btn:hover, .actions .grey-salsa.btn:focus, .actions .grey-salsa.btn:active, .actions .grey-salsa.btn.active {
    color: #fafcfb;
    background: #97a3b4;
}
/* Btn Red */
.actions .btn.btn-red.active, .actions .btn.btn-red:hover {
    color: #fff;
    box-shadow: none;
    background: #e26a6a;
    border-color: #e26a6a;
}
/* Btn Red */
.actions .btn.btn-purple.active, .actions .btn.btn-purple:hover {
    color: #fff;
    box-shadow: none;
    background: #8775a7;
    border-color: #8775a7;
}
.portlet-fullscreen {
    display: block;
    z-index: 9999;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: auto;
}
/* social icons color */
.social:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.social {
    -webkit-transform: scale(0.8);
    /* Browser Variations: */
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}
/*
    Multicoloured Hover Variations
*/
.fa-instagram.fa-3x.social:hover {
    color: #3B5998;
}
.fa-twitter.fa-3x.social:hover {
    color: #4099FF;
}
/* other styles  */
input::-moz-focus-inner, a, button, a:hover, a:active, a:focus {
    outline: 0;
    text-decoration: none;
}
/* style */
.card {
    background-color: inherit;
    border: none;
}
.card-title {
    border-bottom: 1px solid;
    padding-bottom: 10px;
    font-size: 26px;
    font-weight: 300;
}
/* type ahead */
#header .brand .typeahead.dropdown-menu a.dropdown-item {
    color: #d9695f;
}
.full-width {
    width: -moz-available;
    width: -webkit-available;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
}
.full-height {
    min-height: 100%;
    height: 100%;
}
p.narrow {
    width: 60%;
    margin: 10px auto;
}
.modal .panel {
    position: relative;
}
.modal .panel-default>.panel-leftheading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}
.modal .panel-primary>.panel-leftheading {
    color: #fff;
    background-color: #428bca;
    border-color: #428bca;
}
.modal .panel-success>.panel-leftheading {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.modal .panel-info>.panel-leftheading {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.modal .panel-warning>.panel-leftheading {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}
.modal .panel-danger>.panel-leftheading {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.modal .panel-leftheading {
    width: 42px;
    padding: 10px 15px;
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    float: left;
    height: 100%;
    position: absolute;
}
.modal .panel-lefttitle {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 15px;
    font-size: 16px;
    color: inherit;
    -webkit-transform: rotate(90deg);
    -webkit-transform-origin: left top;
    -moz-transform: rotate(90deg);
    -moz-transform-origin: left top;
    -ms-transform: rotate(90deg);
    -ms-transform-origin: left top;
    -o-transform: rotate(90deg);
    -o-transform-origin: left top;
    transform: rotate(90deg);
    transform-origin: left top;
    position: absolute;
    white-space: nowrap;
}
.modal .panel-rightbody {
    float: left;
    margin-left: 45px;
    padding: 15px;
}


h1.page-header {
    margin-top: -5px;
}

.sidebar {
    padding-left: 0;
}

.main-container {
    background: #FFF;
    padding-top: 15px;
    margin-top: -20px;
}

.footer {
    width: 100%;
}

:focus {
    outline: none;
}

.side-menu {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #f8f8f8;
    border-right: 1px solid #e7e7e7;
}

.side-menu .navbar {
    border: none;
}

.side-menu .navbar-header {
    width: 100%;
    border-bottom: 1px solid #e7e7e7;
}

.side-menu .navbar-nav .active a {
    background-color: transparent;
    margin-right: -1px;
    border-right: 5px solid #e7e7e7;
}

.side-menu .navbar-nav li {
    display: block;
    width: 100%;
    border-bottom: 1px solid #e7e7e7;
}

.side-menu .navbar-nav li a {
    padding: 15px;
}

.side-menu .navbar-nav li a .glyphicon {
    padding-right: 10px;
}

.side-menu #dropdown {
    border: 0;
    margin-bottom: 0;
    border-radius: 0;
    background-color: transparent;
    box-shadow: none;
}

.side-menu #dropdown .caret {
    float: right;
    margin: 9px 5px 0;
}

.side-menu #dropdown .indicator {
    float: right;
}

.side-menu #dropdown>a {
    border-bottom: 1px solid #e7e7e7;
}

.side-menu #dropdown .panel-body {
    padding: 0;
    background-color: #f3f3f3;
}

.side-menu #dropdown .panel-body .navbar-nav {
    width: 100%;
}

.side-menu #dropdown .panel-body .navbar-nav li {
    padding-left: 15px;
    border-bottom: 1px solid #e7e7e7;
}

.side-menu #dropdown .panel-body .navbar-nav li:last-child {
    border-bottom: none;
}

.side-menu #dropdown .panel-body .panel>a {
    margin-left: -20px;
    padding-left: 35px;
}

.side-menu #dropdown .panel-body .panel-body {
    margin-left: -15px;
}

.side-menu #dropdown .panel-body .panel-body li {
    padding-left: 30px;
}

.side-menu #dropdown .panel-body .panel-body li:last-child {
    border-bottom: 1px solid #e7e7e7;
}

.side-menu #search-trigger {
    background-color: #f3f3f3;
    border: 0;
    border-radius: 0;
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px 18px;
}

.side-menu .brand-name-wrapper {
    min-height: 50px;
}

.side-menu .brand-name-wrapper .navbar-brand {
    display: block;
}

.side-menu #search {
    position: relative;
    z-index: 1000;
}

.side-menu #search .panel-body {
    padding: 0;
}

.side-menu #search .panel-body .navbar-form {
    padding: 0;
    padding-right: 50px;
    width: 100%;
    margin: 0;
    position: relative;
    border-top: 1px solid #e7e7e7;
}

.side-menu #search .panel-body .navbar-form .form-group {
    width: 100%;
    position: relative;
}

.side-menu #search .panel-body .navbar-form input {
    border: 0;
    border-radius: 0;
    box-shadow: none;
    width: 100%;
    height: 50px;
}

.side-menu #search .panel-body .navbar-form .btn {
    position: absolute;
    right: 0;
    top: 0;
    border: 0;
    border-radius: 0;
    background-color: #f3f3f3;
    padding: 15px 18px;
}


/* Main body section */

.side-body {
    margin-left: 310px;
}


/* small screen */

@media (max-width: 768px) {
    .side-menu {
        position: relative;
        width: 100%;
        height: 0;
        border-right: 0;
    }
    .side-menu .navbar {
        z-index: 999;
        position: relative;
        height: 0;
        min-height: 0;
        background-color: none !important;
        border-color: none !important;
    }
    .side-menu .brand-name-wrapper .navbar-brand {
        display: inline-block;
    }
    /* Slide in animation */
    @-moz-keyframes slidein {
        0% {
            left: -300px;
        }
        100% {
            left: 10px;
        }
    }
    @-webkit-keyframes slidein {
        0% {
            left: -300px;
        }
        100% {
            left: 10px;
        }
    }
    @keyframes slidein {
        0% {
            left: -300px;
        }
        100% {
            left: 10px;
        }
    }
    @-moz-keyframes slideout {
        0% {
            left: 0;
        }
        100% {
            left: -300px;
        }
    }
    @-webkit-keyframes slideout {
        0% {
            left: 0;
        }
        100% {
            left: -300px;
        }
    }
    @keyframes slideout {
        0% {
            left: 0;
        }
        100% {
            left: -300px;
        }
    }
    /* Slide side menu*/
    .side-menu-container>.navbar-nav.slide-in {
        -moz-animation: slidein 300ms forwards;
        -o-animation: slidein 300ms forwards;
        -webkit-animation: slidein 300ms forwards;
        animation: slidein 300ms forwards;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }
    .side-menu-container>.navbar-nav {
        position: fixed;
        left: -300px;
        width: 300px;
        top: 43px;
        height: 100%;
        border-right: 1px solid #e7e7e7;
        background-color: #f8f8f8;
        overflow: auto;
        -moz-animation: slideout 300ms forwards;
        -o-animation: slideout 300ms forwards;
        -webkit-animation: slideout 300ms forwards;
        animation: slideout 300ms forwards;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }
    @-moz-keyframes bodyslidein {
        0% {
            left: 0;
        }
        100% {
            left: 300px;
        }
    }
    @-webkit-keyframes bodyslidein {
        0% {
            left: 0;
        }
        100% {
            left: 300px;
        }
    }
    @keyframes bodyslidein {
        0% {
            left: 0;
        }
        100% {
            left: 300px;
        }
    }
    @-moz-keyframes bodyslideout {
        0% {
            left: 300px;
        }
        100% {
            left: 0;
        }
    }
    @-webkit-keyframes bodyslideout {
        0% {
            left: 300px;
        }
        100% {
            left: 0;
        }
    }
    @keyframes bodyslideout {
        0% {
            left: 300px;
        }
        100% {
            left: 0;
        }
    }
    /* Slide side body*/
    .side-body {
        margin-left: 5px;
        margin-top: 70px;
        position: relative;
        -moz-animation: bodyslideout 300ms forwards;
        -o-animation: bodyslideout 300ms forwards;
        -webkit-animation: bodyslideout 300ms forwards;
        animation: bodyslideout 300ms forwards;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }
    .body-slide-in {
        -moz-animation: bodyslidein 300ms forwards;
        -o-animation: bodyslidein 300ms forwards;
        -webkit-animation: bodyslidein 300ms forwards;
        animation: bodyslidein 300ms forwards;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }
    /* Hamburger */
    .navbar-toggle-sidebar {
        border: 0;
        float: left;
        padding: 18px;
        margin: 0;
        border-radius: 0;
        background-color: #f3f3f3;
    }
    /* Search */
    #search .panel-body .navbar-form {
        border-bottom: 0;
    }
    #search .panel-body .navbar-form .form-group {
        margin: 0;
    }
    /* Dropdown tweek */
    #dropdown .panel-body .navbar-nav {
        margin: 0;
    }
}

#mini-submenu {
    display: none;
    font-size: 1.5em;
}

#slide-submenu {
    display: inline-block;
    padding: 0 8px;
    border-radius: 4px;
    cursor: pointer;
}

.progress .progress-bar.active {
    font-weight: 700;
    animation: progress-bar-stripes .5s linear infinite;
}

.dotdotdot:after {
    font-weight: 300;
    content: '...';
    display: inline-block;
    width: 20px;
    text-align: left;
    animation: dotdotdot 1.5s linear infinite;
}

@keyframes dotdotdot {
    0% {
        content: '...';
    }
    25% {
        content: '';
    }
    50% {
        content: '.';
    }
    75% {
        content: '..';
    }
}


/* blink styles */

.blink {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@-moz-keyframes blinker {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}

@-webkit-keyframes blinker {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}

@keyframes blinker {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}

.preloader {
    margin: -30px 0px 0px 0px !important;
    padding: 0px !important;
    text-align: center;
    width: 100%;
}

.preloader .progress {
    margin: 12px 0px 7px 0px;
}


/* Sticky footer styles
-------------------------------------------------- */

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}


/* Methods */

.method .header, .method .cell {
    padding: 6px 6px 6px 10px;
}

.method .list-header .header {
    font-weight: normal;
    text-transform: uppercase;
    font-size: 0.8em;
    color: #999;
    background-color: #eee;
}

.method [class^="row"], .method [class*=" row"] {
    border-bottom: 1px solid #ddd;
}

.method [class^="row"]:hover, .method [class*=" row"]:hover {
    background-color: #f7f7f7;
}

.method .cell {
    font-size: 0.85em;
}

.method .cell .mobile-isrequired {
    display: none;
    font-weight: normal;
    text-transform: uppercase;
    color: #aaa;
    font-size: 0.8em;
}

.method .cell .propertyname {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.method .cell .type {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.method .cell code {
    color: #428bca;
}

.method .cell a, .method .cell a:hover {
    text-decoration: none;
}

.method .cell code.custom {
    color: #8a6d3b;
    text-decoration: none;
}

.method .cell .text-muted {
    color: #ddd;
}

@media (max-width: 991px) {
    .method [class^="row"], .method [class*=" row"] {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .method .cell {
        padding: 0 10px;
    }
    .method .cell .propertyname {
        font-weight: bold;
        font-size: 1.2em;
    }
    .method .cell .propertyname .lookuplink {
        font-weight: normal;
        font-size: 1.5em;
        position: absolute;
        top: 0;
        right: 10px;
    }
    .method .cell .type {
        padding-left: 10px;
        font-size: 1.1em;
    }
    .method .cell .isrequired {
        padding-left: 10px;
        display: none;
    }
    .method .cell .description {
        padding-left: 10px;
    }
    .method .cell .mobile-isrequired {
        display: inline;
    }
}


/* Row Utilities */

[class^='row'].margin-0, [class*=' row'].margin-0, [class^='form-group'].margin-0, [class*=' form-group'].margin-0 {
    margin-left: -0px;
    margin-right: -0px;
}

[class^='row'].margin-0>[class^='col-'], [class^='row'].margin-0>[class*=' col-'], [class*=' row'].margin-0>[class^='col-'], [class*=' row'].margin-0>[class*=' col-'], [class^='form-group'].margin-0>[class^='col-'], [class^='form-group'].margin-0>[class*=' col-'], [class*=' form-group'].margin-0>[class^='col-'], [class*=' form-group'].margin-0>[class*=' col-'] {
    padding-right: 0px;
    padding-left: 0px;
}

[class^='row'].margin-0 [class^='row'], [class^='row'].margin-0 [class*=' row'], [class^='row'].margin-0 [class^='form-group'], [class^='row'].margin-0 [class*=' form-group'], [class*=' row'].margin-0 [class^='row'], [class*=' row'].margin-0 [class*=' row'], [class*=' row'].margin-0 [class^='form-group'], [class*=' row'].margin-0 [class*=' form-group'], [class^='form-group'].margin-0 [class^='row'], [class^='form-group'].margin-0 [class*=' row'], [class^='form-group'].margin-0 [class^='form-group'], [class^='form-group'].margin-0 [class*=' form-group'], [class*=' form-group'].margin-0 [class^='row'], [class*=' form-group'].margin-0 [class*=' row'], [class*=' form-group'].margin-0 [class^='form-group'], [class*=' form-group'].margin-0 [class*=' form-group'] {
    margin-left: 0;
    margin-right: 0;
}

.bs-flipper {
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -o-perspective: 1000;
    perspective: 1000;
    border: 1px solid #ccc;
}

.bs-flipper:hover .flipper, .bs-flipper.hover .flipper {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.bs-flipper, .front, .back {
    width: 100%;
    height: 266px;
}

.flipper {
    -webkit-transition: 0.6s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 0.6s;
    -moz-transform-style: preserve-3d;
    -o-transition: 0.6s;
    -o-transform-style: preserve-3d;
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

.front, .back {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.front {
    z-index: 2;
}

.back {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
    background: #f8f8f8;
}

.front .name {
    font-size: 2em;
    display: inline-block;
    background: rgba(33, 33, 33, 0.9);
    color: #f8f8f8;
    font-family: Courier;
    padding: 5px 10px;
    border-radius: 5px;
    bottom: 60px;
    left: 25%;
    position: absolute;
    text-shadow: 0.1em 0.1em 0.05em #333;
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    transform: rotate(-20deg);
}

.thumbnail, textarea {
    border-radius: 0;
    overflow: hidden;
}

.caption {
    position: absolute;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.57);
    width: 100%;
    height: 45%;
    padding: 2%;
    display: none;
    text-align: center;
    color: #fff !important;
    z-index: 2;
}

textarea {
    resize: none;
}

.thumbnail {
    position: relative;
    border: 1px solid #BDC3C7;
    padding: 10px;
    margin: 5px;
    background-color: #EAEDF2;
}

.frow {
    position: relative;
}

.frow, .secrow, .thirdrow {
    margin: 5px 0;
}

.secrow {
    position: relative;
}

.error {
  margin: 0 auto;
  text-align: center;
}

.error-code {
  bottom: 60%;
  color: #2d353c;
  font-size: 96px;
  line-height: 100px;
}

.error-desc {
  font-size: 12px;
  color: #647788;
}

.m-b-10 {
  margin-bottom: 10px!important;
}

.m-b-20 {
  margin-bottom: 20px!important;
}

.m-t-20 {
  margin-top: 20px!important;
}

/* Switch button */
.btn-default.btn-on.active{background-color: #5BB75B;color: white;}
.btn-default.btn-off.active{background-color: #DA4F49;color: white;}

.btn-default.btn-on-1.active{background-color: #006FFC;color: white;}
.btn-default.btn-off-1.active{background-color: #DA4F49;color: white;}

.btn-default.btn-on-2.active{background-color: #00D590;color: white;}
.btn-default.btn-off-2.active{background-color: #A7A7A7;color: white;}

.btn-default.btn-on-3.active{color: #5BB75B;font-weight:bolder;}
.btn-default.btn-off-3.active{color: #DA4F49;font-weight:bolder;}

.btn-default.btn-on-4.active{background-color: #006FFC;color: #5BB75B;}
.btn-default.btn-off-4.active{background-color: #DA4F49;color: #DA4F49;}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px;
    /* Vertically center the text there */
    background-color: #f5f5f5;
}

.chart-container{margin-top: 50px;}